body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.option {
    display: block;
    background-color: #ddd;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background-color: #ccc;
}

.correct {
    background-color: #4CAF50 !important;
}

.wrong {
    background-color: #FF5733 !important;
}
